<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iffWinApp64.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="iffWinApp64.My.MySettings.remote_gesksa" connectionString="Data Source=166.62.41.104;Initial Catalog=iff2009;Persist Security Info=True;User ID=sa;Password=Admin@123"
            providerName="System.Data.SqlClient" />
        <add name="iffWinApp64.My.MySettings.remote_solitaire" connectionString="Data Source=51.145.129.167;Initial Catalog=iff2009;Persist Security Info=True;User ID=sa;Password=Admin@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <iffWinApp64.My.MySettings>
            <setting name="remote_user" serializeAs="String">
                <value>iffrptremote</value>
            </setting>
            <setting name="remote_pwd" serializeAs="String">
                <value>Admin@123456</value>
            </setting>
        </iffWinApp64.My.MySettings>
    </applicationSettings>
</configuration>